doctype html
html
 head
  meta(charset='UTF-8')
  title Demo
  link(rel='stylesheet' href='style.css')
  link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
 body
  section.container
   .box
     h1 Hola Mundo!